@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

.App {
  font-family: "Marcellus", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App footer {
  text-align: center;
  font-size: smaller;
}

.App footer a {
  color: #8AAAE5;
}
