.WeatherInfo {
  margin: 20px;
}

.WeatherInfo .main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

.WeatherInfo .main .blob {
  grid-area: 1 / 1;
  justify-self: start;
}

.WeatherInfo .main .city-name {
  grid-area: 1 / 1;
  justify-self: center;
}

.WeatherInfo .temperature-container {
  margin-top: 30px;
  align-items: center;
}

.WeatherInfo ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  font-size: larger;
  display: inline;
  margin-bottom: 5px;
  list-style: none;
}