.Weather {
  margin: 40px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Weather .search-bar {
  border-color: #D0E2FF;
}

.Weather .search-input {
  background-color: transparent;
  border: none;
}

.Weather .search-button {
  width: 3em;
  background-color: transparent;
}

.Weather .search-input::placeholder {
  line-height: 20px;
}

.Weather .temperature {
  font-weight: bold;
}

.Weather canvas {
  margin: 10px 0;
}

.Weather .unit {
  font-size: calc(1.625rem + 1vw);
  position: relative;
  line-height: 1;
  top: -0.4em;
}

